$primary-color: #4caf50;
$secondary-color: #f4f4f4;
$font-stack: 'Arial', sans-serif;

.home {
    font-family: $font-stack;
    padding: 20px;
    background-color: $secondary-color;
    text-align: center;

    h1 {
        color: $primary-color;
        margin-bottom: 20px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 10px;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(74, 58, 58, 0.1);
        padding: 20px;
        width: 300px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            transform: translateY(-5px);
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
            color: $primary-color;
            margin-bottom: 10px;
        }

        .card-body {
            font-size: 1rem;
            color: #333;
        }

        // Estilo para los enlaces dentro de .card
        a {
            text-decoration: none !important; // Quitar subrayado
            color: inherit !important; // Heredar el color del contenedor
        }
    }

    .no-stories {
        text-align: center;
        font-size: 1.2rem;
        color: #888;
    }

    button.createPostButton {
        background-color: $primary-color; // Green
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 20px; // Ajustar el espaciado según sea necesario
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 10%); // Verde más oscuro
            transform: scale(1.05);
        }
    }
}