$primary-color: #4caf50;
$button-background-color: #f44336; // Red color for logout

.logoutButton {
    background-color: $button-background-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 20px;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darkred; // Darker red for hover effect
    }
}