.storyDetail {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.content {
    font-size: 1.2rem;
    /* Agrandado el texto */
    line-height: 1.8;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.date {
    font-size: 1rem;
    /* Tamaño del texto de la fecha */
    color: #555;
    background-color: #e3e3e3;
    /* Fondo para resaltar la fecha */
    padding: 5px 10px;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.loading {
    font-style: italic;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

// Estilos para el loading
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}